header {
	display: flex;
	justify-content: space-between;
	width: 100vw;
	padding-left: 2rem;
}

header img {
	width: 9rem;
	height: 4rem;
	margin: 1.3rem 2rem;
}

header .profile-pic {
	margin: 2.25rem;
}

header .MuiButton-root {
	background: none;
	width: fit-content;
	border-radius: 1rem;
}

header .MuiButton-root:hover {
	background: none;
}

header .MuiSvgIcon-root {
	width: 50px;
	height: 50px;
	transition: 0.2s;
}

header .MuiSvgIcon-root:hover {
	color: rgb(80, 80, 80);
	cursor: pointer;
}

.MuiPopover-root > * .popover-content {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	background: white;

	.MuiButton-root {
		color: black;
		border-radius: 0.25rem;
		padding: 0.3rem 0;
		background: rgba(0, 169, 155, 0.1);
	}
	.MuiButton-root:hover {
		background: rgba(0, 169, 155, 0.25);
	}

	.MuiSvgIcon-root {
		margin-right: 0.15rem;
	}
	.user-name {
		margin-bottom: 0.5rem;
	}
}
