header {
	display: flex;
	justify-content: space-between;
	width: 100vw;
	padding-left: 2rem;
}

header img {
	width: fit-content;
	height: 4rem;
	margin: 1.3rem 2rem;
}

header .profile-pic {
	margin: 2.25rem;
}
