* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    display: flex;
    width: 100vw;
    padding-left: 31px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 530px;
    height: 520px;
    box-shadow: 0px 1px 4px #171a1f;
    border-radius: 6px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 483px;
    height: 100px;
}

Button {
    width: 483px;
    height: 44px;
}